<!DOCTYPE html>

{% macro autoreload() %}
<script>
  var uuid = "";
  function handle_uuid(u) {
    if (uuid.length === 0) {
      uuid = u;
      return;
    }

    if (uuid != u ) {
      location.reload();
    }
  }

  function autoreload() {
    fetch("/uuid")
      .then(res => res.text())
      .then(handle_uuid);
  }
  setInterval(autoreload, 1000);
</script>
{% endmacro %}


{% macro render_item(item) %}

{% set class_str = "item" %}
{% if item.highlight %}
{% set class_str = class_str + " " + "highlight" %}
{% endif %}

{% set href ="/#" %}
{% if item.permalink is defined %}
{% set href = item.permalink %}
{% endif %}

<a class="{{ class_str }}" href="{{ href | safe }}">
  <dl>
    <dt>{{ item.name }}</dt>
    {% if item.description is defined %}
    <dd>{{ item.description }}</dd>
    {% endif %}
  </dl>
</a>

{% endmacro %}

{% macro render_section(sect) %}
<section>
  <h2>{{ sect.name }}</h2>

  <div class="item_container">
    {% for item in sect.items %}
    {{ render_item(item) }}
    {% endfor %}
  </div>
</section>
{% endmacro %}

<html>
  <head>
    {% if dev %}
    {{ autoreload() }}
    {% endif %}

    <title>{{ name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <link ref="canonical" href="{{canonical_link}}" />
  </head>

<style>{% include "reset.css" %}</style>
<style>{% include "style.css" %}</style>

  <body>
    <main>
      <div class="big_title">
        <h1>{{ name }}</h1>
        <p>{{ description }}</p>
      </div>

      {% for s in section %}
      {{ render_section(s) }}
      {% endfor %}

    </main>
  </body>
</html>
